@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.input-field{
    display: flex;
}
.input-field .otp-box{
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 1px solid rgb(197, 197, 197);
    text-align: center;
}
.input-field .otp-box:focus{
  
    outline: brown;
}
.success{
    color: rgb(40, 255, 40);
    border: 1px solid rgb(40, 255, 40);
    padding: 10px;
}
.fail{
    color: rgb(255, 40, 40);
    border: 1px solid rgb(255, 40, 40);
    padding: 10px;
}
.image{
    width: 300px;
    height: 150px;
}
h1{
    text-align: center;
}